.info-panel {
    height: 70px;


    img {
        height: 56px;
        margin: 8px 16px;

        max-width: 64px;
    }

    .col {
        float: left;
    }

    .col-info {

        line-height: 1.3em;

        h1 {
            font-size: 1.15em;
            display: block;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 600;
            margin: 16px 0px 4px 0px;
            color: #333;
        }

        h2 {
            font-size: 0.85em;
            display: block;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400;
            margin: 0;
            color: #888;
        }
    }


    &.bigger {
        height: 160px;
        .col {
            float: none;
        }

        .col-img {
            text-align: center;

            img {
                height: 100px;
                margin: 4px 0 0 0;
            }
        }

        .col-info {
            margin: 0 16px;
        }

        h1 {
            margin-top: 0;
        }
    }
}