
.splash-screen {
    position: fixed;
    z-index: 9999;
    left:0;
    top: 0;
    right: 0;
    bottom: 0; 
    transition: opacity 0.6s cubic-bezier(.215,.61,.355,1);

    .content {

        position:  absolute;
        top: calc(50% - 50px);
        text-align: center;
        left: 0;
        width: 100%;
    }

    h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
        font-size: 8vh;
        color: white;
        font-family: 'Questrial', sans-serif;


        span {            
            font-family: 'Nunito', sans-serif;
            font-weight: 200;    
        }

    }

    &.hide {
        user-select: none;
        pointer-events: none;
        opacity: 0;
    }

}

