.tacto-food-panel {

    height: 90px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0; 

    text-align: center;
    line-height: 90px;

    h1 {
        margin: 0;
        padding: 0;

        font-size: 2.3em;
        color: white;
        font-family: 'Questrial', sans-serif;

        

        span {            
            font-family: 'Nunito', sans-serif;
            font-weight: 200;    
        }

    }

}