
.fade-in-up-enter {
  opacity: 0.5;
  z-index: 999;  
  transform: translateY(50px);
  background: white;
}

.fade-in-up-enter.fade-in-up-enter-active {
  opacity: 1;
  transition: all 250ms ease-in  !important;
  transform: translateY(0);
  
}

.fade-in-up-leave {
  position: fixed;
  z-index: 1; 
  opacity: 0.4;
   top: 64px;
  left: 0;
  right: 0;
}


.fade-in-up-leave.fade-in-up-leave-active {
 
  transition: all 250ms ease-out  !important;
  opacity: 0;
  transform: scale(0.95);
}


.fade-out-down-leave.fade-out-down-leave-active {
  opacity: 0;
  z-index: 999;  
  transform: translateY(70px);
  background: white;
}

.fade-out-down-leave {
  opacity: 1;
  transition: all 250ms ease-in  !important;
  transform: translateY(0);
  
}

.fade-out-down-enter.fade-out-down-enter-active  {
 
  opacity: 1; 
   top: 64px;
  transform: scale(1);
}


.fade-out-down-enter{
  z-index: 1; 
  left: 0;
  right: 0;
  position: fixed;
  transition: all 250ms ease-in  !important;
  opacity: 1;
  transform: scale(0.95);
}