@import '~normalize.css/normalize.css';
@import 'animations.scss';
@import 'icons.scss';

html,
body {
    font-family: 'Roboto', sans-serif;
}

.carousel {

    min-height: 180px !important;
}

.slider.animated {
    min-height: 180px !important;
}