.avaliacao-page {

    h1.avaliacao-title {
        margin: 0;
        line-height: 1.3em;
        font-size: 1.3em;
        font-weight: 200;
        padding: 12px 8px;
        text-align: center;
        background: #f4f4f4;
        color: #888;
    }

    .avaliacao-form {
        padding: 0px 32px;
    }

    .mdi:before {
        font-size: 5em;
    }
    .avaliacao-value {
        font-size: 5em;
        margin: 0;
        font-weight: 100;
        margin-top: 12px;
    }
    .avaliacao-component {
        text-align: center;
    }
    .hint {
        color: #aaa;
        font-style: oblique;
        font-weight: 100;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 450px) {
    .avaliacao-page {
        .avaliacao-value {
            font-size: 4.5em;
        }
        .mdi:before {
            font-size: 4em;
        }
    }
}

@media only screen and (max-width: 320px) {
    .avaliacao-page {
        .avaliacao-value {
            font-size: 2.5em;
        }
        .mdi:before {
            font-size: 3em;
        }
    }
}