.feedback-button-container {

    margin: 16px;
}

.feedback-page {

    .feedback-form {
        padding: 8px 32px;
    }

    .feedback-type {
        text-align: center;

        h1 {
            font-size: 1.2em;
            color: #aaa;
            font-weight: 200;
        }
    }

    .mdi:before {
        font-size: 6em;
    }

    .hint {
        color: #aaa;
        font-style: oblique;
        font-weight: 100;
    }
}